<footer class="footer">

    <div class="footer__left-column">
        <div class="footer__map">
            <iframe class="footer__frame" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d164153.23443639991!2d36.2858247!3d49.99459135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1498602141780" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="footer__right-column">

        <div class="footer__address">
            <p class="footer__text">90802 California</p>
            <p class="footer__text">Long beach</p>
            <p class="footer__text">PO Box 68789</p>
            <p class="footer__text">300 East Ocean</p>
            <p class="footer__text">Boulevard</p>
        </div>

        <div class="footer__contacts">
            <p class="footer__text">+64 9 345 6758</p>
            <p class="footer__text">info@dsgn-studio.com</p>
        </div>

        <div class="footer__logo">
            <logo-information></logo-information>
        </div>

        <div class="footer__author">
            <p class="footer__text">
                Author : Sergey Timchenko
            </p>
        </div>

    </div>

</footer>