<header-component></header-component>


<div>
    <a routerLink='/product-list' routerLinkActive='active'> product-list </a>
    <a routerLink='/basket'       routerLinkActive='active'> basket </a>
    <a routerLink='/news-list'    routerLinkActive='active'> news-list </a>
    <a routerLink='/news/2'       routerLinkActive='active'> news </a>
    <a routerLink='/product/2'    routerLinkActive='active'> product </a>
    <a routerLink='/order'        routerLinkActive='active'> order </a>
    <a routerLink='/about-us'     routerLinkActive='active'> about-us </a>
</div>

<router-outlet></router-outlet>

<footer-component></footer-component>
