<div class="logo">

    <div class="logo__picture">
        <a class="logo__link" href="/">
            <img class="logo__image" src="img/logo.png" alt="logo">
        </a>
    </div>

    <p class="logo__text">ASSOCIATES</p>
    <p class="logo__text">STUDIO</p>
    <p class="logo__text">DESIGN</p>

    <ul class="logo__social-list">
        <li class="logo__item">
            <a class="logo__social-link" href="/">
                <i class="fa fa-linkedin logo__icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="logo__item">
            <a class="logo__social-link" href="/">
                <i class="fa fa-facebook logo__icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="logo__item">
            <a class="logo__social-link" href="/">
                <i class="fa fa-twitter logo__icon" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

</div>