<header class="header">

    <div class="header__left-column">
        <logo-information></logo-information>
    </div>

    <div class="header__right-column">

        <div class="header__menu">
            <menu></menu>
        </div>

        <img class="header__image" src="img/line.png" alt="line">

        <div class="header__address">
            <p class="header__text">90802 California</p>
            <p class="header__text">Long beach</p>
            <p class="header__text">PO Box 68789</p>
            <p class="header__text">300 East Ocean</p>
            <p class="header__text">Boulevard</p>
        </div>

        <div class="header__contacts">
            <p class="header__text">+64 9 345 6758</p>
            <p class="header__text">info@dsgn-studio.com</p>
        </div>

    </div>

</header>